body{
  background-color: rgb(225, 242, 248);
  display: flex;
  align-items: center;
  justify-content: center;
}

#signup-mainbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 800px;
}

#signup-form {
  background: linear-gradient(302deg, #ADD8E6 0%, #CBCFED 100%);
  padding: 7rem;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  flex-direction: center;
}

#form-left{
  align-items: center;
}

#signup-header{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 20px;
}

#member {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: whitesmoke;
}

#signupinput {
  margin-bottom: 1.5rem;
  width: 225px;
  padding: 5px 9px;
  font-size: 0.95rem;
  color: rgb(40, 39, 39);
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  border-color: transparent;
}

#signupbtn {
  padding: 6px 95px;
  margin-left: 9px;
  border-radius: 10px;
  font-size: 0.95rem;
  font-family: 'Ubuntu', sans-serif;
  background-color:  #ABDAD9;
  border-color: whitesmoke;
}

#signupbtn:hover {
  border-color:rgb(255, 255, 255);
  background: #8AC7DB;
  color: whitesmoke;
}

#signupbtn:active {   
  transform: translateY(1px);
  background: #CBCFED;
  color: whitesmoke;
}

#backtologin {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #a021ef;
  font-size: 0.95em;
  margin-left: 20px;
}

#member {
  display: flex;
  align-items: center;
  justify-content: center;
}

#backtologin {
  display: flex;
  align-items: center;
  justify-content: center;
}
