#algoBox {
    width: 500px;
    height: 100px;
}

input {
    margin: 10px;
}

#company {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.companyAlgoPage {
    background: rgb(225, 242, 248);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#logo {
  margin: 20px;
}

/* Popup style
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    align-content: center;

}
   
  .box {
    position: relative;
    width: 12%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background-image: linear-gradient(#68b3ed, #6958ff);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #2d3033;
overflow:scroll;
align-content: center;

  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    float: right;
    background: #2d3033;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #68eda7;
    font-size: 20px;
    overflow:scroll;
    max-width: 50px;
    color:#68eda7;
  }

  

  */




/* CSS */
.button-85 {
  left: 25rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
    left: 25rem;
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  align-items: right;
  border-radius: 10px;
}
