body {
    background-color: rgb(225, 242, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 500px;
}

#login-mainbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 700px;
}

@media screen and (min-width: 100px) {
    #logo {
      min-width: 100px
    }
  }

#signin-form {
    /* background: linear-gradient(rgba(40, 20, 84, 0.728)); */
    /* background: rgb(70,65,167);
    background: rgb(104,91,142); */
    background: linear-gradient(302deg, #ADD8E6 0%, #CBCFED 100%);
    padding: 8rem;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#username {
    margin-top: 20px;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    font-family: 'Ubuntu', sans-serif;
    width: 225px;
    padding: 5px 9px;
    border-radius: 5px;
    border-color: transparent;
    color: rgb(40, 39, 39);
}

#inputPassword {
    margin-bottom: 3rem;
    width: 225px;
    padding: 5px 9px;
    font-size: 0.95rem;
    color: rgb(40, 39, 39);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    border-color: transparent;
}

#loginbtn {
    padding: 6px 35px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 0.95rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: #ABDAD9;
    border-color: whitesmoke;
}

#loginbtn:hover {
    border-color:rgb(255, 255, 255);
    background: #8AC7DB;
    color: whitesmoke;
}

#loginbtn:active {   
    transform: translateY(1px);
    background: #CBCFED;
    color: whitesmoke;
}

#signuplink {
    padding: 6px 35px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 0.95rem;
    font-family: 'Ubuntu', sans-serif;
    color: #a021ef;
    text-decoration: none;
}
